<header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Welcome<br>to<br>My Page </h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">A cool bootstrap theme.</h2>
          <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
        </div>
      </div>
    </header>
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Built with Bootstrap 4</h2>
            <p class="text-white-50">It took me awhile but, I was finally able to integrate Rails and Bootstrap. 
              <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The key is some templates conflict with the bootstrap @import in the application.css.scss file</p>
          </div>
        </div>
        <img src="img/ipad.png" class="img-fluid" alt="">
      </div>
    </section>
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright © Mango WebWorks 2018
      </div>
    </footer>
    
<%= link_to 'About', pages_about_path  %>